.container {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.btnDefault{
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.activeFilter{
    background: dodgerblue;
    border: 1px solid gray;
    border-radius: 5px;
}

.isDone{
    opacity: .6;
}

